*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
    180deg,
    var(--Soft-violet),
    var(--Soft-blue)
  );
    font-family: 'Kumbh Sans', sans-serif;
}

/* center the main  */
main{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}

.women{
    display: flex;
    position: relative;
    margin-top: -16em;
    width: 15rem;
    z-index: 1;
}
.box{
    display: flex;
    position: absolute;
    width: 5rem;
    margin-top: -11em;
    z-index: 2;

}
main .left-card{
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 9em;
    z-index: 1;

}
.right-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5em 1.5em 3em 1.5em ;
    gap: 2rem;
    z-index: 0;
}
.title{
    margin-top: -1.5em;
}
.faq-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
details{
    display: flex;
    align-items: center;
    justify-content: center;
}
details > summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    list-style: none;
    cursor: pointer;
}
details > summary:hover{
    color: var(--Soft-red);
}
hr { 
    display: block; 
    border-top: 1px solid var(--Light-grayish-blue);
}
/* After open */
details > summary:after{
    display: flex;
    align-items: center;
    content: url(./images/icon-arrow-down.svg);
    transition: transform 0.3s ease;
}

details > summary:-webkit-details-marker{
    display: none;
}

details[open] > summary:after{
    transform: rotate(180deg);
}

details[open] > summary{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}
.answer{
    font-size: 0.7rem;
    margin-top: 1em;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}
footer{
    color: white;
}
footer a:link{
    color: wheat;
}
@media screen and (min-width: 55em) {

    main{
        display: flex;
        flex-direction: row;
        width: 50rem;
        z-index: 2;
        border: 1px solid var(--Soft-blue);
        overflow:hidden;
    }
    .right-card{
        width: 50%;
        padding: 3em;
        display: flex;
        align-items: flex-start;
        margin-top: 5em;
    }
    main .left-card{
        display: flex;
        align-items: center;
        padding-top: 0;
        height: 100%;
        width: 50%;
        background-image: none;
        z-index: 0;
    }
    main .left-card::after{
        display: flex;
        content:url(./images/bg-pattern-desktop.svg);
        height: 30rem;
        top:-3%;
        left: 2.5%;
        z-index: -1;
    }
    main .women{
        display: flex;
        margin-top: 1em;
        width: 24rem;
        margin-left: -4em;
        z-index: -3;
        
    }
    main .box{
        display: flex;
        width: 10rem;
        z-index: -2;
        margin-left: -4.9em;
        margin-top:3em;
    
    }
    }
    .title{
        text-align: left;
    }
}